<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA66L_9uETx2VvU2asVjGKnMEu7OodcDRg</string>
	<key>GCM_SENDER_ID</key>
	<string>263614949553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>terso34.AuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauthentication-32806</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauthentication-32806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263614949553:ios:36c3047d72101dcec75a90</string>
</dict>
</plist>